<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Scanner</ion-title>
    <ion-button fill="clear"  color="light" slot="end" routerLink="/about"><ion-icon size="large" color="primary" name="information-circle"></ion-icon></ion-button>
  </ion-toolbar>

</ion-header>
<ion-header class="ion-no-border margin-top">
  <ion-item lines="none">
    <ion-label>
      <ion-button size="large"  color="primary" expand="block" (click)="openBarCodeScanner()">
        <ion-icon margin name="scan-sharp"></ion-icon>&nbsp; Scan Code
      </ion-button>
      </ion-label>
      </ion-item>
<ion-item lines="full" *ngIf="barCodes.length!=0">
  <ion-label class="ion-text-center">Barcode History</ion-label>
</ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="barCodes.length!=0">
      <ion-col size="12" *ngFor="let barCode of barCodes;let i=index" class="justify-align-center">
        <ion-item lines="full">
          <ion-label class="text-overflow"><h2>{{barCode?.text}}</h2>
          <p>{{barCode?.format}}</p></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
