<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center bold">QR Code Details</ion-card-header>
    <ion-card-content *ngIf="result">
      <p *ngIf="result.text">{{"Text : "}}{{result?.text}}</p>
      <p *ngIf="result.format">{{"Text : "}}{{result?.format}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
